.calpb { 
  line-height: 18px;
  border-left-width: 72px;
  border-right-width: 33px;
  padding-right: 89px;
  margin-left: 26px;
  padding-right: 73px;
  margin-bottom: 74px;
  padding-right: 81px;
  padding-right: 11px;
  padding-right: 7px;
}
